@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{
    var o = ViewBag.SingleDataDispaly as MvcDataManipulationApplication.Models.MyData;

 }
<form action="../Update"  method="post">
    <div class="row">
        <br />
        <div class="col-md-4">
            <div> <label>Record ID : @o.Id </label><input type="hidden" name="Id" value=" @o.Id" /></div>
            <div> <label>FName : </label> <input type="text" name="FName" value=" @o.FName"  /></div>
        </div>
        <input type="submit" value="Save"/>
    </div>
    </form>
